@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --color-1: #eff1fa;
    --color-2: #072b61;
    --color-3:#052051;
    --color-4:#adb5bd;
    --color-5:#868e96;
    --color-6:#ffffff;

--fuente-primaria:font-family: "Inter", sans-serif;
}


*{
    margin: 0%;
    padding: 0%;
}
body {
  
    font-family:var(--fuente-primaria);
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    background-color:var(--color-1);
    color:var(--color-6);
    text-align: center;
    padding: 10px 0; 
    width: 100%; 
    height: 200px;
    display: flex;
    align-items: start;
    justify-content: start; 
    position: relative;
}
header.logo {
    position: absolute;
    left: 10px; 
    height: 40px; 
    padding: 4px 2px;
    
}

.container {
    flex: 1;
    display: flex;
    width: 100%;
}

.encripladoizq, .desencripladoder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.encripladoizq {
    width: 75%;
    background-color:var(--color-1);
}

.desencripladoder {
    width: 25%;
    background-color:var(--color-6);
   
    border-radius: 10px; 
    padding: 15px 20px; 
    
}

.encripladoizq textarea {
    flex: 1;
    margin-bottom: 20px;
    resize: none; 
    background-color:var(--color-1); 
    border: none;
    padding: 10px;
    box-sizing: border-box; 
    font-family: var(--fuente-primaria);
    
}
.encripladoizq textarea, .desencripladoder textarea {
border:none;
outline:none;
}


.desencripladoder textarea {
    flex: 1;
    margin-bottom: 20px;
    resize: none; 
    background-color:var(--color-6); 
    border:none; 
    padding: 10px;
    box-sizing: border-box; 
    border-radius: 16px;
    color: var(--color-5);
    font-family: var(--fuente-primaria);

}
.botones {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-top: 10px; 
    
}
.botones-2{
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-top: 10px; 
}

.Encriptar{
   
    background-color:var(--color-2); 
    color:var(--color-6);
    border: 1px solid var(--color-4);
    font-family: var(--fuente-primaria);
    
}
.Desencriptar{
    background-color:var(--color-4); 
    color: var(--color-2);
    border: 1px solid var(--color-2);
    font-family: var(--fuente-primaria);
}
.btn-limpiar{
    background-color:var(--color-2); 
    color:var(--color-6);
    border: 1px solid var(--color-2);
    font-family: var(--fuente-primaria);
}

.btn-copiar {
    align-self: center;
    color: var(--color-2);
    border: 1px solid var(--color-2);
    font-family: var(--fuente-primaria);
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 16px;
    font-size: 16px;
}

.Encriptar:hover{
    background-color: var(--color-3);
    padding: 11px 21px;

}
.Desencriptar:hover{
    background-color: var(--color-5);
    padding: 11px 21px;

}
.btn-limpiar:hover{
    background-color: var(--color-3);
    padding: 11px 21px;

}
.btn-copiar:hover{
    background-color: var(--color-4);
    padding: 11px 21px;

}
.info {
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: var(--color-3);
    margin: 10px 0; 
    font-family: var(--fuente-primaria);
}

.icono-info {
    margin-right: 2px;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
}
footer {
    background-color:var(--color-2);
    color:var(--color-6);
    text-align: center;
    padding: 5px 0; 
    width: 100%; 
    height: 200px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    position: relative;
    font-family: var(--fuente-primaria);
}
@media (max-width: 1024px) {
   
    .container {
        flex-direction: column; 
        align-items: center; 
    }

    .encripladoizq, .desencripladoder {
        width: 100%;
    }
header{
    height: auto;
    width: auto;
    margin-top: 10px;
}
    .botones,.botones-2 {
        flex-direction: column;
        align-items: center;
    }
    button{
        width: 100%;
        height: 40%;
    }

    #btn-limpiar{
        margin-top: 10px;
    }

    #btn-copiar {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
   
    .container {
        flex-direction: column; 
        align-items: center;
    }
    header{
        height: auto;
        width: auto;
        margin-top: 10px;
    }
    .encripladoizq, .desencripladoder {
        width: 100%; 
    }
    .botones,.botones-2 {
        flex-direction: column;
        align-items: center;
    }
    button{
        width: 100%;
        height: 40%;
    }
    .btn-copiar {
        margin-top: 10px;
    }
    .btn-limpiar{
        margin-top: 10px;
    }
}